In [2]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 8.7 MB/s eta 0:00:00a 0:00:01m
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 KB 6.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/aydan/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 KB 22.7 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 29.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Users/aydan/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
WARNING: You are using pip version 22.0.4; however, version 25.0.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd 

df = pd.read_csv("Coursework Data/DemoStats.csv")

df.head()

,CODE,GEO,ECYASQKM,ECYALSQKM,ECYBASPOP,ECYBASHHD,ECYBASHPOP,ECYBAS12P,ECYBAS15P,ECYBAS18P,...,ECYGEN1GEN,ECYGEN2GEN,ECYGEN3GEN,ECYTCAHPOP,ECYTCACIT,ECYTCA_U18,ECYTCA_18P,ECYNCANCIT,ECYNCA_U18,ECYNCA_18P
0,A0A0A0,FSALDU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A0A1A0,FSALDU,0,0,55,33,55,55,55,55,...,0,0,55,55,55,0,55,0,0,0
2,A0A1B0,FSALDU,0,0,588,243,588,561,512,475,...,11,14,563,588,587,113,474,1,0,1
3,A0A1C0,FSALDU,0,0,1793,709,1791,1548,1465,1405,...,50,32,1709,1791,1776,380,1396,15,3,12
4,A0A1E0,FSALDU,0,0,452,176,449,415,389,357,...,10,14,425,449,446,95,351,3,0,3